<nav class="navbar navbar-expand-lg fixed-top" [ngClass]="{'scrolled': isScrolled}">
    <div class="container">
        <a class="navbar-brand ms-auto" href="#">SUDHARSHAN</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToSection('about-section')">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="scrollToSection('inspiration-section')">Gallery</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="contact" routerLinkActive="active">Contact</a>
                </li>
            </ul>

            <!-- Social Media Icons -->
            <div class="social-icons">
                <a href="https://www.instagram.com/_sdhr__shan_/" target="_blank" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="https://www.linkedin.com/in/sudharshan-s-0663392b4/" target="_blank" class="social-icon">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://x.com/Sudharshan31200" target="_blank" class="social-icon">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </div>
</nav>