<div class="terms-container">
    <h1>Terms and Conditions</h1>
    <p><i>Last updated: December 09, 2024</i></p>

    <p>Welcome to Sudharshan's personal website. By accessing or using this website, you agree to be bound by these
        terms and conditions. If you do not agree with any part of these terms, you must not use this website.</p>

    <h2>1. Intellectual Property</h2>
    <p>All content, including text, images, graphics, and code, is the property of Sudharshan. Some images used are
        sourced from free online platforms such as Unsplash, ESPNcricinfo, and Freepik, and are utilized solely for
        decorative and reference purposes. These images are free to use, unless otherwise specified. Any reproduction,
        distribution, or transmission of the content without prior written permission is prohibited. All other images
        are the original work of Sudharshan.</p>

    <h2>2. Use of Website</h2>
    <p>You agree to use this website for lawful purposes only. You are prohibited from using the website to:</p>
    <ul>
        <li>Engage in any illegal activities.</li>
        <li>Harass or cause distress to other users.</li>
        <li>Transmit viruses or malicious code.</li>
        <li>Violate any applicable laws or regulations.</li>
    </ul>

    <h2>3. Limitation of Liability</h2>
    <p>In no event shall Sudharshan be liable for any direct, indirect, incidental, consequential, or punitive damages
        arising out of your use of the website.</p>

    <h2>4. Modifications to Terms</h2>
    <p>Sudharshan reserves the right to modify these terms at any time. You should review these terms periodically to
        ensure compliance.</p>

    <h2>5. Governing Law</h2>
    <p>These terms are governed by the laws of India, and any disputes will be resolved in accordance with the laws of
        this jurisdiction.</p>

    <div class="checkbox-container">
        <input type="checkbox" id="termsAccept" [(ngModel)]="isChecked">
        <label for="termsAccept"><b>I accept the Terms and Conditions</b></label>
    </div>

    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    
    <button class="btn-know-more" routerLink="/" [disabled]="!isChecked">Submit</button>
</div>

